*{
    font-size: 20px;
}

.czerwony{
    background-color: #d4062f;
    color: aliceblue;
    width: 25%;
    border: solid;
    border-style: ridge;
    border-color: #d9a0ab;
    text-align: center;
}

.zielony{
    background-color: #60b40c;
    width: 25%;
    border: solid;
    border-style: ridge;
    border-color: #879d71;
    text-align: center;
}

.grey{
    background-color: grey;
    width: 25%;
    border: solid;
    border-style: ridge;
    border-color: #c1b8b8;
    text-align: center;
    color: aliceblue;
}

li{
    list-style: none;
}













